<form role="form" [formGroup]="controlForm">
    <div class="multSelect-dropdown">
        <span class="top-label" for="control" labelError
            [hasError]="controlForm.controls['teste'].invalid && controlForm.controls['teste'].touched">
            <span class="required-field" *ngIf="!disabled && isRequired">*</span>{{nomeLabel}}</span><i
            class="aviva-icon-chevrondown"></i>
            <select (click)="ocultarDropDown()" [disabled]="mostrarDropDown"
            formControlName="teste">
            <option [value]="opcaoPadrao">{{ opcaoEscolhida }}</option>
        </select><span
            *ngIf="controlForm.controls['teste'].invalid && controlForm.controls['teste'].touched && !mostrarDropDown"
            class="bottom-label-error"> {{campoObrigatorio}}</span>
        <div (mouseleave)="ocultarDropDown()" touchLeave (touchLeave)="ocultarDropDown()">
            <div class="drop-show" *ngIf="mostrarDropDown"><label *ngFor="let item of list" class="aviva-checkbox">
                    <div class="aviva-checkbox-value">
                        <span class="text"> {{item.viewValue}}</span>&nbsp;<input type="checkbox" [checked]="item.marcado"
                            (change)="getItensSelecionados(item)" [disabled]="disabled" />
                    </div>
                </label></div>
        </div>
    </div>
</form>