<div class="custom-select-244" (click)="toggleSelect()">
    <div class="select-selected">
        {{ selectedOptionIndex >= 0 ? options[selectedOptionIndex] : 'Selecione uma opção' }}
    </div>
    <div class="select-arrow">&#9662;</div>
    <div class="select-items" #selectItems tabindex="0" (keydown)="onKeyDown($event)">
        <div *ngFor="let option of options; let i = index" (click)="selectOption(i)"
        class="option option-item"
        [class.selected]="i === selectedOptionIndex"
        [ngStyle]="{ 'background-color': i === selectedOptionIndex ? '#ddd' : 'transparent' }">
        {{ option }}
      </div>
    </div>
</div>