.example-chip-list {
    width: 100%;
}

.mat-form-field-empty.mat-form-field-label {
    color: green;
}

.mat-form-field-underline {
    background-color: green;
}

.card-margin {
    margin-top: 10px !important;
}

.chipSize {
    font-size: large !important;
}

.alignDiv{
    align-self: flex-end !important;
}

.margin-chip {
    margin: 10px 5px 5px 10px !important;
}
