<div class="container marginContainerModal">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12 col-xl-12 col-sm-12">
            <mat-card>
                <div class="row">
                    <div class="col-lg-11 col-md-11 col-xl-11 col-sm-11 col-xs-11">
                        <mat-card-title>Comunicação Detalhes
                        </mat-card-title>
                    </div>
                    <div class="col-lg-1 col-md-1 col-xl-1 col-sm-1 col-xs-1">
                        <mat-icon class="closeModal" matTooltip="Fechar" (click)="closeModal('Close click')">close
                        </mat-icon>
                    </div>
                </div>
                <mat-divider></mat-divider>
                <br>
                <div class="row marginDiv">
                    <div class="col-lg-9 col-md-9 col-xl-9 col-sm-9 col-xs-9">
                        <label class="itemAba">Remetente </label><br>
                        <p>teste1@localhost.com.br; teste2@localhost.com.br;
                            teste3@localhost.com.br; teste4@localhost.com.br;</p>
                    </div>
                    <div class="col-lg-3 col-md-3 col-xl-3 col-sm-3 col-xs-3">
                        01/12/2020 10:00:22
                    </div>
                </div>
                <div class="row marginDiv">
                    <div class="col-lg-12 col-md-12 col-xl-12 col-sm-12 col-xs-12">
                        <label class="itemAba">Destinatários: </label><br>
                        <p></p>
                    </div>
                </div>
                <div class="row marginDiv">
                    <div class="col-lg-12 col-md-12 col-xl-12 col-sm-12 col-xs-12">
                        <strong class="itemAba">Cópia</strong>
                    </div>
                </div>
                <div class="row marginDiv">
                    <div class="col-lg-12 col-md-12 col-xl-12 col-sm-12 col-xs-12">
                        <label class="itemAba">Responsáveis </label><br>
                        <p></p>
                    </div>
                </div>
                <div class="row marginDiv">
                    <div class="col-lg-12 col-md-12 col-xl-12 col-sm-12 col-xs-12">
                        <label class="itemAba">Responsáveis </label><br>
                        <p></p>
                    </div>
                </div>
                <div class="row marginDiv">
                    <div class="col-lg-12 col-md-12 col-xl-12 col-sm-12 col-xs-12 text-right">
                        <button mat-flat-button class="btnStyle" type="button" (click)="closeModal('Close click')"
                            matTooltip="Voltar">
                            <mat-icon>check</mat-icon> Voltar
                        </button>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>
</div>