<mat-sidenav-container class="all-wrap">

  <mat-sidenav #sidenav over>
    <mat-nav-list>
      <h2 matSubheader>Menu do Sistema</h2>
      <a mat-list-item routerLink="agenda" (click)="sidenav.close()">
        <mat-icon>play_arrow</mat-icon><span class="nav-caption">Agenda</span>
      </a>
      <a mat-list-item routerLink="auditoria" (click)="sidenav.close()">
        <mat-icon>play_arrow</mat-icon><span class="nav-caption">Auditoria</span>
      </a>
      <a mat-list-item routerLink="banco" (click)="sidenav.close()">
        <mat-icon>play_arrow</mat-icon><span class="nav-caption">Banco</span>
      </a>
      <a mat-list-item routerLink="cliente" (click)="sidenav.close()">
        <mat-icon>play_arrow</mat-icon><span class="nav-caption">Cliente</span>
      </a>
      <a mat-list-item routerLink="conta" (click)="sidenav.close()">
        <mat-icon>play_arrow</mat-icon><span class="nav-caption">Conta</span>
      </a>
      <a mat-list-item routerLink="empresa" (click)="sidenav.close()">
        <mat-icon>play_arrow</mat-icon><span class="nav-caption">Empresa</span>
      </a>
      <a mat-list-item routerLink="funcionalidade" (click)="sidenav.close()">
        <mat-icon>play_arrow</mat-icon><span class="nav-caption">Funcionalidade</span>
      </a>
      <a mat-list-item routerLink="servico" (click)="sidenav.close()">
        <mat-icon>play_arrow</mat-icon><span class="nav-caption">Serviço</span>
      </a>
      <a mat-list-item routerLink="config" (click)="sidenav.close()">
        <mat-icon>play_arrow</mat-icon><span class="nav-caption">Configuração Sistema</span>
      </a>
      <a mat-list-item routerLink="relatorio" (click)="sidenav.close()">
        <mat-icon>play_arrow</mat-icon><span class="nav-caption">Relatório</span>
      </a>
      <a mat-list-item routerLink="perfil" (click)="sidenav.close()">
        <mat-icon>play_arrow</mat-icon><span class="nav-caption">Perfil Acesso</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="page-wrap ...">
    <mat-toolbar color="primary" *ngIf="isAuthenticated()">
      <mat-toolbar-row>
        <button mat-button (click)="sidenav.open()">
          <mat-icon>reorder</mat-icon>
        </button>
        &nbsp;
        <span>
          Menu Layout
        </span>
        <span class="example-spacer"></span>
        <button mat-button [matMenuTriggerFor]="menu">
          <mat-icon>account_circle</mat-icon> Usuário Logado
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <mat-icon>vpn_key</mat-icon> Alterar senha
          </button>
          <button mat-menu-item (click)="Logout()">
            <mat-icon>exit_to_app</mat-icon> Sair
          </button>
        </mat-menu>
      </mat-toolbar-row>
    </mat-toolbar>
    <main>
      <div class="container-fluid">
        <app-loading></app-loading>
        <router-outlet></router-outlet>
        <div style="height: 50px"></div>
      </div>
      <app-footer></app-footer>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>