<!-- Menu Vertical -->
<mat-sidenav-container class="all-wrap">

  <mat-sidenav #sidenav over>
    <mat-nav-list>
      <ng-container *ngFor="let item of listaMenu">
        <a mat-list-item routerLink="{{item.link}}" class="nav-caption">
          <i class="material-icons icon">{{ item.icon }}</i>{{item.description}}
        </a>
      </ng-container>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="page-wrap ...">
    <mat-toolbar color="primary" *ngIf="isAuthenticated()">
      <mat-toolbar-row>
        <button mat-button (click)="sidenav.open()">
          <mat-icon>reorder</mat-icon>
        </button>
        &nbsp;
        <span>
          Menu Layout
        </span>
        <span class="example-spacer"></span>
        <button mat-button [matMenuTriggerFor]="menu">
          <mat-icon>account_circle</mat-icon> Usuário Logado
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <mat-icon>vpn_key</mat-icon> Alterar senha
          </button>
          <button mat-menu-item (click)="Logout()">
            <mat-icon>exit_to_app</mat-icon> Sair
          </button>
        </mat-menu>
      </mat-toolbar-row>
    </mat-toolbar>
    <main>
      <div class="container-fluid">
        <app-loading></app-loading>
        <router-outlet></router-outlet>
        <div style="height: 50px"></div>
      </div>
      <app-footer></app-footer>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
<!-- Menu Vertical -->

<!-- Menu Horizontal -->
<!-- <app-card-loading></app-card-loading>
<app-top-menu></app-top-menu>
<div class="pt-2" class="container-app">
  <router-outlet></router-outlet>
  <div style="height: 50px !important;"></div>
</div> -->
<!-- Menu Horizontal -->