<div class="row">
    <div class="col-md col-lg">
        <mat-card>
            <mat-card-subtitle>Selecione os campos abaixo a serem exportados no excel</mat-card-subtitle>
            <mat-divider></mat-divider>
            <mat-card-content [style.overflow]="'auto'">
                <mat-selection-list #shoes>
                    <mat-list-option (click)="selectAll(checked)" [selected]="checked" style="font-weight: bold;">
                        Marcar
                        todos</mat-list-option>
                    <mat-list-option *ngFor="let item of arrHeaders" [value]="item" [selected]="item.status"
                        (click)="selectItem(item)">
                        {{item.campo}}
                    </mat-list-option>
                </mat-selection-list>
            </mat-card-content>
            <mat-card-actions class="text-right">
                <button mat-button mat-flat-button color="accent" matTooltip="Fechar" (click)="closeModal()">Fechar</button>
                <button mat-button mat-flat-button color="primary" matTooltip="Exportar"
                    (click)="exportExcel()">Exportar</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>