<!-- DAHSBOARD HEADER -->
<div class="dashboard-header">
    <mat-card class="dashboard-header-card">
        <span class="dashboard-header-card-header">
            Quadro 1
        </span>
        <span class="dashboard-header-card-body">
            'N/A'
        </span>
    </mat-card>

    <mat-card class="dashboard-header-card">
        <span class="dashboard-header-card-header">
            Quadro 2
        </span>
        <span class="dashboard-header-card-body">
            'N/A'
        </span>
    </mat-card>

    <mat-card class="dashboard-header-card">
        <span class="dashboard-header-card-header">
            Quadro 3
        </span>
        <span class="dashboard-header-card-body">
            'N/A'
        </span>
    </mat-card>

    <mat-card class="dashboard-header-card">
        <span class="dashboard-header-card-header">
            Quadro 4
        </span>
        <span class="dashboard-header-card-body">
            'N/A'
        </span>
    </mat-card>
</div>
<!-- FIM DAHSBOARD HEADER -->

<mat-divider></mat-divider>

<!-- DAHSBOARD TABLES -->
<div class="dashboard-body">
</div>
<!-- FIM DAHSBOARD TABLES -->