// Para utilizar essa classe com Angular material em nossos componentes Input, Select, TextArea, Checkbox, Radio e etc..., basta incluir a linha abaixo na declaração HTML do componente:
// [ngClass]="variavelBooleana ? 'blockMask' : ''"
// class="blockMask"
// [ngClass]="{'blockMask': campoFormularioReativo.disabled === true }"
// [ngClass="'blockMask'"

@import "style-variables";

@mixin setConfigBlockMask(
  $varColor,
  $varFontWeight,
  $varBackGroundSize,
  $varBackGroundRepeat,
  $varBackGroundColor,
  $varBoxShadow
) {
  color: $varColor !important;
  font-weight: $varFontWeight;
  background-size: $varBackGroundSize !important;
  background-repeat: $varBackGroundRepeat !important;
  background-color: $varBackGroundColor !important;
  box-shadow: $varBoxShadow $varBackGroundColor !important;
}

@mixin setFontBlockMask($varColor, $varFontWeight) {
  color: $varColor !important;
  font-weight: $varFontWeight;
}

.blockMask {
  .mat-input-element:disabled,
  .mat-form-field-type-mat-native-select.mat-form-field-disabled
    .mat-form-field-infix::after {
    @include setConfigBlockMask(
      $color-black,
      $font-bold,
      1px 100%,
      repeat-x,
      $color-gray,
      0px 0px 0px 13px $color-gray
    );
  }

  .mat-radio-button.mat-radio-disabled .mat-radio-label-content {
    @include setFontBlockMask($color-black, $font-bold);
  }

  .mat-select-value-text,
  .mat-select-placeholder {
    @include setFontBlockMask($color-black, $font-bold);
  }

  .mat-checkbox-disabled,
  .mat-checkbox-label {
    @include setFontBlockMask($color-black, $font-bold);
  }
}

.mat-select-disabled.blockMask {
  @include setConfigBlockMask(
    $color-black,
    $font-bold,
    1px 100%,
    repeat-x,
    $color-gray,
    0px 0px 0px 13px $color-gray
  );
}

input:disabled.blockMask,
textarea:disabled.blockMask,
select:disabled.blockMask {
  @include setConfigBlockMask(
    $color-black,
    $font-bold,
    1px 100%,
    repeat-x,
    $color-gray,
    0px 0px 0px 13px $color-gray
  );
}

input:disabled.blockMask::-webkit-input-placeholder,
textarea:disabled.blockMask::-webkit-input-placeholder,
select:disabled.blockMask::-webkit-select-placeholder {
  @include setConfigBlockMask(
    $color-black,
    $font-bold,
    1px 100%,
    repeat-x,
    $color-gray,
    0px 0px 0px 13px $color-gray
  );
}

/* Estilizar input do tipo data quando não estiver preenchido */
input[type="date"]:not(.ng-dirty):not(.ng-valid):not(.ng-touched) {
  color: $color-black !important;
}
