// Variaveis personalizadas criadas por mim
$height-100: 100%;
$width-100: 100%;
$color-link: #007bff;
$color-transparent: transparent;
$cursor-default: pointer;
$color-error: #bd362f;
$color-success: #51a351;
$color-info: #2f96b4;
$color-warning: #f89406;
$color-white: white;
$color-black: black;
$color-gray: #e8e2e2;
$font-size-small: small;
$vertical-align-bottom: bottom;
$center: center;
$font-bold: bold;
$twenty-px: 20px;