// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";
@import "~@angular/material/theming";
@import "styleblockmask";
@include mat-core();

$angularprimary: (
  50: darkred,
  100: darkred,
  200: darkred,
  300: darkred,
  400: darkred,
  500: darkred,
  600: darkred,
  700: darkred,
  800: darkred,
  900: darkred,
  A100: darkred,
  A200: darkred,
  A400: darkred,
  A700: darkred,
  contrast: (
    50: $color-white,
    100: $color-white,
    200: $color-white,
    300: $color-white,
    400: $color-white,
    500: $color-white,
    600: $color-white,
    700: $color-white,
    800: $color-white,
    900: $color-white,
    A100: $color-white,
    A200: $color-white,
    A400: $color-white,
    A700: $color-white,
  ),
);

$angularsecundary: (
  50: darkblue,
  100: darkblue,
  200: darkblue,
  300: darkblue,
  400: darkblue,
  500: darkblue,
  600: darkblue,
  700: darkblue,
  800: darkblue,
  900: darkblue,
  A100: darkblue,
  A200: darkblue,
  A400: darkblue,
  A700: darkblue,
  contrast: (
    50: $color-white,
    100: $color-white,
    200: $color-white,
    300: $color-white,
    400: $color-white,
    500: $color-white,
    600: $color-white,
    700: $color-white,
    800: $color-white,
    900: $color-white,
    A100: $color-white,
    A200: $color-white,
    A400: $color-white,
    A700: $color-white,
  ),
);

// Montagem das cores
$Angularkit-primary: mat-palette($angularsecundary);
$Angularkit-accent: mat-palette($angularsecundary);
$Angularkit-warn: mat-palette($mat-red);
$Angularkit-theme: mat-light-theme(
  $Angularkit-primary,
  $Angularkit-accent,
  $Angularkit-warn
);
@include angular-material-theme($Angularkit-theme);

// Outros CSS

@mixin setMsg($var-background-color, $var-color) {
  background-color: $var-background-color !important;
  color: $var-color !important;
}

@mixin set-scale-icon($var-transformation) {
  /* 
  transform: scale(1); tamanho padrão do icone 
  transform: scale(1.5); aumenta o tamanho do icone em 50% 
  transform: scale(0.5); reduz o tamanho do icone em 50% 
  */
  transform: scale($var-transformation);
}

@mixin set-rotate-icon($var-transformation) {
  /* transform: rotate(0.5turn); gira o icone de cabeça para baixo */
  transform: rotate($var-transformation);
}

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: $width-100;
  background-color: mat-color($Angularkit-accent);
  color: $color-white;
  text-align: $center;
}

.marginDiv {
  margin-top: $margin-top-10 !important;
}

.widthMax {
  width: $width-100 !important;
}

.marginBetweenBtn {
  margin-right: 8px !important;
  cursor: $cursor-default !important;
}

.alignDivInCenter {
  align-self: $center !important;
}

.marginModalContainer {
  margin-top: $twenty-px !important;
  margin-bottom: $twenty-px !important;
}

/* Scss para tela de mensageria */
.smallLabel {
  margin-bottom: 0.1rem !important;
  font-size: $font-size-small !important;
}

.alertChat {
  width: $width-100 !important;
  border-radius: $twenty-px !important;
}

.alertUser {
  border-radius: $twenty-px !important;
}

.divFlexChat {
  display: flex !important;
}

.fontSmallChat {
  font-size: 14px;
}

.alertCurrentUser {
  border-radius: $twenty-px !important;
  background-color: $color-white;
}

strong {
  font-weight: $font-bold !important;
}

b {
  font-weight: $font-bold !important;
}

.strongBlack {
  font-weight: $font-bold !important;
  color: $color-black !important;
}

.msg-error {
  @include setMsg($color-error, $color-white);
}

.msg-success {
  @include setMsg($color-success, $color-white);
}
