// Variaveis personalizadas criadas por mim
$height-100: 100%;
$width-100: 100%;
$color-link: #007bff;
$color-transparent: transparent;
$cursor-default: pointer;
$color-error: #bd362f;
$color-success: #51a351;
$color-info: #2f96b4;
$color-warning: #f89406;
$color-white: white;
$color-black: black;
$color-gray: #e8e2e2;
$font-size-small: small;
$vertical-align-bottom: bottom;
$center: center;
$font-bold: bold;
$twenty-px: 20px;
$margin-top-10: 10px;

/* Variaveis que podem ser manipuladas dentro do codigo do typescript */
:root {
    --corPrincipal-100: #7a7afc;
    --corPrincipal-200: #2323eb;
    --corPrincipal-300: #1919a7;
    --corPrincipal-400: #0a0a4f;
    --corSecundaria-100: #48f89a;
    --corSecundaria-200: #00cd60;
    --corSecundaria-300: #10a154;
    --corSecundaria-400: #1f5639;
}