<div *ngIf="!loading">
    <h2>Cliente</h2>

    <p *ngIf="dataSource.data && dataSource.data.length === 0 ">Nenhum cliente encontrado</p>

    <button class="btn btn-sized text-white marginRightBtn" mat-flat-button color="accent" type="button" routerLink="/provider/add" matTooltip="Adicionar"><mat-icon>add</mat-icon> Adicionar</button>
    <button class="btn btn-sized text-white" mat-flat-button color="accent" type="button" matTooltip="Filtrar" (click)="filtrar()"><mat-icon>filter_alt</mat-icon> Filtrar</button>

    <app-generic-table [dataSource]="dataSource" [columns]="columns" [displayedColumns]="displayedColumns"></app-generic-table>

    <div class="container">
        <div class="row mt-2 justify-content-md-center text-center align-items-center">
            <div class="col">
                <button class="btn float-right" mat-stroked-button color="accent" type="button"
                    (click)="changePage(page-1)" [disabled]="page === 1">
                    <mat-icon>chevron_left</mat-icon>
                </button>
            </div>
            <div class="col-md-auto">
                <label class="mb-0">Página {{page}} de {{total}}</label>
            </div>
            <div class="col">
                <button class="btn float-left" mat-stroked-button color="accent" type="button"
                    (click)="changePage(nextPage)" [disabled]="!nextPage">
                    <mat-icon>chevron_right</mat-icon>
                </button>
            </div>
        </div>
    </div>
</div>